<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>云翻译</title>
    <link href="/favicon.ico" rel="shortcut icon">
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
    <link rel="stylesheet" href="//apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

<div class="container" ng-app="translation" ng-controller="personCtrl" ng-init="translationContent=''">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                                class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                                class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="#">Brand</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="https://github.com/eesc88">Follow Me</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong
                                        class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input class="form-control" type="text"/>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="https://github.com/eesc88">Follow Me</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong
                                        class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="row clearfix">
                <div class="col-md-5 column">
                    <h3>
                        翻译内容:
                    </h3>
                    <textarea class="form-control" ng-model="translationContent"
                              style="height: 300px;resize: none;"></textarea>
                </div>
                <div class="col-md-2 column">
                    <p class="text-nowrap" style="height: 280px"></p>
                    <button ng-click="doTranslation()" type="button" class="btn btn-primary btn-lg">翻译
                    </button>
                </div>
                <div class="col-md-5 column">
                    <h3>
                        翻译结果：
                    </h3>
                    <div style="border-color: #d1d1d1; border: 1px solid ;height: 300px;padding: 8px;">
                        <p> {{ translationResult }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron" style="margin-top: 20px">
        <span id="transmark"></span>
        <div class="row clearfix">
            <div class="col-md-8 column">
                <h2>
                    "云翻译"开源项目欢迎您的加入!!!
                </h2>
                <p>
                    试图打造一个码农专用的开源翻译工具<br>
                    期待有志同道合的人一起实现这个想法<br>
                    应用移动端采用的React-Native技术完成(IOS平台兼容待完善)<br>
                    服务端使用的是LeanCloud提供的服务<br>
                    云引擎采用Node.js实现<br>
                </p>
            </div>

            <div class="col-md-3 column">
                <p>
                <h4>交流合作</h4>
                <li><a href="#"> Email:suce998@gmail.com</a></li>
                <li><a href="https://github.com/eesc88/programmer"> App Code</a></li>
                <li><a href="https://github.com/eesc88/ProgrammerServce"> Node.JS Servce Code</a></li>
                <li><a href="#"> QQ:542260236</a></li>
                </p>
            </div>
        </div>
    </div>
</div>


<script>
    var app = angular.module('translation', []);
    app.controller('personCtrl', function ($scope, $http) {
        $scope.translationContent = "",
                $scope.translationResult = ""

        $scope.doTranslation = function () {
            var content = $scope.translationContent;
            var url = "/translate/doTranslate?content=" + content;
            $http.get(url)
                    .success(function (response) {
                        if (response.code == 1) {
                            $scope.translationResult = response.info.translation[0];
                        } else {
                            $scope.translationResult = response.info;
                        }
                    });
        };
    });


</script>
</body>
</html>